.navbar {
    background-color: var(--yellow-theme-nav-background-color);
    opacity: 95%;
    height: 80px;
    display: flex;
    justify-content: space-between; // updated for better positioning
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0; // Added to make sticky position work
    z-index: 1000; // Ensuring the navbar stays on top
  
    &__container {
      display: flex;
      align-items: center;
      width: 100%;
      height: inherit;
      padding: 0px 20px;
  
      &__logo {
        color: var(--yellow-theme-main-color);
        cursor: pointer;
      }
  
      &__menu {
        display: flex;
        list-style: none;
        text-align: center;
        transition: all 0.5s ease;
        margin: 0;
  
        &.active {
          left: 0px; // Make sure to make it visible on activation
        }
  
        &__item {
          line-height: 40px;
          margin-right: 1.5rem;
          font-size: 1.6rem;
  
          &::after {
            content: "";
            display: block;
            height: 3px;
            width: 0;
            background: transparent;
            transition: all 0.5s ease;
          }
  
          &:hover::after {
            width: 100%;
            background: var(--yellow-theme-main-color);
          }
  
          &__links {
            color: var(--yellow-theme-main-color);
            text-decoration: none;
            padding: 0.5rem;
          }
        }
      }
    }
  }
  
  .nav-icon {
    display: none;
    cursor: pointer;
    color: var(--yellow-theme-main-color);
    padding-right: 20px;
  }
  
  @media only screen and (max-width: 768px) {
    .navbar__container__menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
      position: absolute;
      top: 80px;
      left: -110%; // Hidden off-screen by default
      background: #181818; // Background color to ensure visibility
      opacity: 100%;
      transition: all 0.5s ease;
  
      &.active {
        left: 0; // Show menu when active
        opacity: 1;
      }
  
      &__item {
        border-bottom: 1px solid #282828;
        margin: 0px;
        padding: 20px 0px;
      }
    }
  
    .nav-icon {
      display: block; // Show icon in mobile view
    }
  }
  